@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?w9eyoc');
  src:  url('../fonts/icomoon.eot?w9eyoc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?w9eyoc') format('truetype'),
    url('../fonts/icomoon.woff?w9eyoc') format('woff'),
    url('../fonts/icomoon.svg?w9eyoc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-phone:before, .icon-phone-mobile:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
footer li:before, .icon-point-right:before {
  content: "\ea04";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-vk:before {
  content: "\ea98";
}
.icon-vk2:before {
  content: "\e901";
}

@media only screen and (min-width: 481px) {
  .icon-phone-mobile:before {
    display: none;
  }
}

@font-face {
  font-family: 'menu-mobile';
  src:  url('../fonts/menu-mobile.eot?c7q8wl');
  src:  url('../fonts/menu-mobile.eot?c7q8wl#iefix') format('embedded-opentype'),
    url('../fonts/menu-mobile.ttf?c7q8wl') format('truetype'),
    url('../fonts/menu-mobile.woff?c7q8wl') format('woff'),
    url('../fonts/menu-mobile.svg?c7q8wl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-menu3:before, .icon-menu4:before {
  font-family: 'menu-mobile' !important;
  font-size: 25px;
  padding-left: 10px;
}
.icon-menu3:before {
  content: "\e9bf";  
}
.icon-menu4:before {
  content: "\e9c0";
}
